## Часть 2 Анализ данных

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [29]:
path = '/content/drive/MyDrive/Разведочный анализ/Avtoru.csv'
path_to_save = '/content/drive/MyDrive/Разведочный анализ'

In [3]:
import pandas as pd
import seaborn as sns
import numpy
from matplotlib import pyplot as plt
import regex as re

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

                                      name  ...                                            comment
0  Jeep Grand Cherokee IV (WK2) Рестайлинг  ...  Автомобиль покупался в США комплектация S Limi...
1  Jeep Grand Cherokee IV (WK2) Рестайлинг  ...  Автомобиль покупался в США комплектация S Limi...
2                          LADA (ВАЗ) 2107  ...                                Читаем внимательно.
3                          LADA (ВАЗ) 2107  ...                                Читаем внимательно.
4     Mercedes-Benz GLK-Класс 300 I (X204)  ...  Автомобиль находится в отличном состоянии. Все...

[5 rows x 19 columns]

In [6]:
# посмотрим на тип
df.dtypes

name             object
price           float64
crash            object
year            float64
run             float64
back             object
color            object
engine           object
tax             float64
transmission     object
drive            object
rudder           object
condition        object
owners          float64
pasport          object
customs          object
cr_date          object
views           float64
comment          object
dtype: object

In [7]:
# избавимся от дублирования
df = df.drop_duplicates()

In [8]:
# Посмотрим на колонку даты создания в ней отсутсвует год, но не везде
df.cr_date.str.contains('20\d\d', regex=True).value_counts()

False    15761
True         9
Name: cr_date, dtype: int64

In [9]:
# Добавим 2021 год
df.cr_date.loc[(df.cr_date.str.contains('20\d\d', regex=True) == False)] = df[(df.cr_date.str.contains('20\d\d', regex=True) == False)].cr_date.apply(lambda x: '{}{}'.format(x, ' 2021'))

In [10]:
# Проверим
df.cr_date.value_counts()

27 ноября 2021      6588
28 ноября 2021      3772
26 ноября 2021      2590
25 ноября 2021      1044
24 ноября 2021       679
23 ноября 2021       339
22 ноября 2021       232
21 ноября 2021       211
20 ноября 2021       109
19 ноября 2021        24
2 октября 2021        20
1 августа 2021        20
22 октября 2021       14
18 ноября 2021        13
25 июля 2021           8
16 ноября 2021         8
17 августа 2019        7
17 ноября 2021         7
11 ноября 2021         6
23 сентября 2021       6
26 октября 2021        5
27 сентября 2021       5
5 ноября 2021          5
28 октября 2021        4
14 ноября 2021         4
1 ноября 2021          3
14 октября 2021        3
22 июля 2021           3
16 октября 2021        3
15 ноября 2021         3
15 октября 2021        3
26 марта 2020          2
13 ноября 2021         2
18 октября 2021        2
7 сентября 2021        2
9 ноября 2021          2
30 сентября 2021       2
4 ноября 2021          2
23 октября 2021        2
7 июля 2021            2
29 октября 2021        2
25 августа 2021        2
7 ноября 2021          1
9 марта 2021           1
19 апреля 2021         1
8 ноября 2021          1
10 ноября 2021         1
20 сентября 2021       1
13 сентября 2021       1
31 октября 2021        1
21 июля 2021           1
6 ноября 2021          1
Name: cr_date, dtype: int64

In [11]:
# удалим пустую строку
ind_em = df.loc[df.cr_date.isna() == True].index
ind_em[0]

10371

In [12]:
df = df.drop(index=ind_em[0])

In [13]:
# проверяем
df.shape

(15770, 19)

In [14]:
# удалим строки в которых все значения пропущены
df.dropna(how='all')
df.shape

(15770, 19)

In [15]:
# заменим строковый формат мецяца на числовой
month = {	'января' : '01',
		      'февраля' : '02',
		      'марта' : '03',
		      'апреля' : '04',
		      'мая' : '05',
		      'июня' : '06',
		      'июля' : '07',
		      'августа' : '08',
		      'сентября' : '09',
		      'октября' : '10',
		      'ноября' : '11',
		      'декабря' : '12'}
for key in month.keys():
  df.cr_date.loc[df.cr_date.str.contains(key)] = df.cr_date.str.replace(key, month[key])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [16]:
df.cr_date.value_counts()

27 11 2021    6588
28 11 2021    3772
26 11 2021    2590
25 11 2021    1044
24 11 2021     679
23 11 2021     339
22 11 2021     232
21 11 2021     211
20 11 2021     109
19 11 2021      24
2 10 2021       20
1 08 2021       20
22 10 2021      14
18 11 2021      13
25 07 2021       8
16 11 2021       8
17 08 2019       7
17 11 2021       7
11 11 2021       6
23 09 2021       6
26 10 2021       5
27 09 2021       5
5 11 2021        5
14 11 2021       4
28 10 2021       4
1 11 2021        3
15 11 2021       3
14 10 2021       3
22 07 2021       3
16 10 2021       3
15 10 2021       3
4 11 2021        2
30 09 2021       2
7 09 2021        2
7 07 2021        2
13 11 2021       2
25 08 2021       2
29 10 2021       2
23 10 2021       2
26 03 2020       2
9 11 2021        2
18 10 2021       2
31 10 2021       1
8 11 2021        1
9 03 2021        1
21 07 2021       1
13 09 2021       1
10 11 2021       1
20 09 2021       1
19 04 2021       1
6 11 2021        1
7 11 2021        1
Name: cr_date, dtype: int64

In [17]:
# Преобразуем колонку cr_date в формат даты
df.cr_date = pd.to_datetime(df.cr_date, errors='coerce', dayfirst=True)

In [18]:
# Проверим
df.dtypes

name                    object
price                  float64
crash                   object
year                   float64
run                    float64
back                    object
color                   object
engine                  object
tax                    float64
transmission            object
drive                   object
rudder                  object
condition               object
owners                 float64
pasport                 object
customs                 object
cr_date         datetime64[ns]
views                  float64
comment                 object
dtype: object

In [19]:
df.head()

                                      name  ...                                            comment
0  Jeep Grand Cherokee IV (WK2) Рестайлинг  ...  Автомобиль покупался в США комплектация S Limi...
2                          LADA (ВАЗ) 2107  ...                                Читаем внимательно.
4     Mercedes-Benz GLK-Класс 300 I (X204)  ...  Автомобиль находится в отличном состоянии. Все...
6       Mercedes-Benz A-Класс 140 I (W168)  ...  Добрый день! Выставляется на продажу Mercedes ...
8            BMW X1 20i I (E84) Рестайлинг  ...  10 000 подарков за покупку автомобиля с пробег...

[5 rows x 19 columns]

In [20]:
# Разделим колонку engine
df.engine = df.engine.str.split('/')
df.head()

                                      name  ...                                            comment
0  Jeep Grand Cherokee IV (WK2) Рестайлинг  ...  Автомобиль покупался в США комплектация S Limi...
2                          LADA (ВАЗ) 2107  ...                                Читаем внимательно.
4     Mercedes-Benz GLK-Класс 300 I (X204)  ...  Автомобиль находится в отличном состоянии. Все...
6       Mercedes-Benz A-Класс 140 I (W168)  ...  Добрый день! Выставляется на продажу Mercedes ...
8            BMW X1 20i I (E84) Рестайлинг  ...  10 000 подарков за покупку автомобиля с пробег...

[5 rows x 19 columns]

In [21]:
# разобьем колонку engine на 3 суб колонки "Объем", "Л.С.", "Тип Двигателя"
df[['engine_volume', 'horsepower', 'engine_type']] = pd.DataFrame(df.engine.tolist(), index=df.index)
df.head()

                                      name      price  ...  horsepower  engine_type
0  Jeep Grand Cherokee IV (WK2) Рестайлинг  4070000.0  ...   243 л.с.        Дизель
2                          LADA (ВАЗ) 2107   129000.0  ...    74 л.с.        Бензин
4     Mercedes-Benz GLK-Класс 300 I (X204)  1050000.0  ...   231 л.с.        Бензин
6       Mercedes-Benz A-Класс 140 I (W168)   199000.0  ...    82 л.с.        Бензин
8            BMW X1 20i I (E84) Рестайлинг  1098000.0  ...   184 л.с.        Бензин

[5 rows x 22 columns]

In [24]:
# Разделим название на марку и модель
df.name.str.split(' ', 1, expand=True)

                   0                                    1
0               Jeep   Grand Cherokee IV (WK2) Рестайлинг
2               LADA                           (ВАЗ) 2107
4      Mercedes-Benz               GLK-Класс 300 I (X204)
6      Mercedes-Benz                 A-Класс 140 I (W168)
8                BMW            X1 20i I (E84) Рестайлинг
...              ...                                  ...
91116  Mercedes-Benz     E-Класс 200 V (W213, S213, C238)
91122  Mercedes-Benz                   GLS 350 d I (X166)
91128  Mercedes-Benz  S-Класс AMG 63 AMG III (W222, C217)
91130      SsangYong                      Actyon Sports I
91132     Volkswagen                  Tiguan I Рестайлинг

[15770 rows x 2 columns]

In [25]:
# Добавим столбец с мармами авто и столбец с моделями
df['car_brand'] = df.name.str.split(' ', 1, expand=True)[0].values
df['car_model'] = df.name.str.split(' ', 1, expand=True)[1].values
df.head()

                                      name  ...                           car_model
0  Jeep Grand Cherokee IV (WK2) Рестайлинг  ...  Grand Cherokee IV (WK2) Рестайлинг
2                          LADA (ВАЗ) 2107  ...                          (ВАЗ) 2107
4     Mercedes-Benz GLK-Класс 300 I (X204)  ...              GLK-Класс 300 I (X204)
6       Mercedes-Benz A-Класс 140 I (W168)  ...                A-Класс 140 I (W168)
8            BMW X1 20i I (E84) Рестайлинг  ...           X1 20i I (E84) Рестайлинг

[5 rows x 24 columns]

In [26]:
df.condition.value_counts()

Не требует ремонта    15768
Name: condition, dtype: int64

### Мы подготовили датафрейм к анализу теперь выпишем признаки

Признаки:  
- **price** - цена авто (рубли)
- **crash** - информация о ДТП 
- **year** - год выпуска авто
- **run** - пробег (км)
- **back** - тип кузова
- **color** - цвет
- **tax** - налог
- **transmission** - КПП (автоматическая, механическая, роботизированная, вариатор)
- **drive** - привод (передний, полный, задний)
- **rudder** - руль (левый, правый)
- **condition** состояние (Не требует ремонта)
- **owners** - количество владельцев
- **pasport** - ПТС автомобиля
- **customs** - растоможка
- **cr_date** - дата публикации объявления 
- **views** - количество просмотров объявления
- **comment** - комментарий продавца
- **engine_volume** - объем двигателя
- **horsepower** - лошадиные силы (л.с. / кВт)
- **engine_type** - тип двигателя
- **car_brand** - марка авто
- **car_model** - модель авто

<font color='red'>Данные собирались 27.11.2021)</font>

In [28]:
# заменим пропуски на 0
df = df.fillna(0)

In [32]:
# сохраним DataFrame
df.to_excel(path_to_save + '/' + 'AvtoRu_prep.xlsx', sheet_name='Cars')